.footer {
  background-color: $green;
  color: $white;

  &__content {
    margin-bottom: 60px;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
    }

    @include desktop {
      margin-bottom: 70px;
    }
  }

  &__contacts {
    margin-bottom: 50px;

    @include tablet {
      grid-column: 1 / 2;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    height: 27px;
    margin-bottom: 10px;
    font-family: $font;
    font-weight: $title-weight;
    font-size: 18px;
    line-height: 27px;
    color: inherit;

    @include tablet {
      height: 30px;
      margin-bottom: 30px;
      font-size: $small;
      line-height: 30px;
    }

    &--nav {
      width: max-content;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__link {
    box-sizing: border-box;
    width: fit-content;
    color: inherit;
    border-bottom: 1px solid #f1f5f400;
    transition: all $transition;

    &--tel {
      display: inline-block;
    }

    &:nth-child(5) {
      margin-bottom: 30px;

      @include tablet {
        margin-bottom: 50px;
      }
    }

    &:hover {
      border-bottom: 1px solid $white;
    }
  }

  &__socials {
    display: flex;
  }

  &__facebook {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background: url(../images/icon/facebook.svg) no-repeat center;
    transition: transform $transition;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__twitter {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background: url(../images/icon/twitter.svg) no-repeat center;
    transition: transform $transition;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__telegram {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background: url(../images/icon/telegram.svg) no-repeat center;
    transition: transform $transition;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__instagram {
    width: 20px;
    height: 20px;
    background: url(../images/icon/instagram.svg) no-repeat center;
    transition: transform $transition;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__shedule {
    margin-bottom: 50px;

    @include tablet {
      grid-column: 2 / 3;
      margin-bottom: 0;
    }
  }

  &__nav {
    @include tablet {
      grid-column: 3 / 4;
    }
  }

  &__copyright {
    display: flex;
  }

  &__copyright-text {
    &:first-child {
      margin-right: 22px;

      @include desktop {
        margin-right: 102px;
      }
    }
  }
}
