.nav {
  &__item {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include desktop {
      margin-bottom: 60px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--footer {
      margin-bottom: 5px;

      @include tablet {
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    width: max-content;
    font-family: $font;
    font-weight: $title-weight;
    font-size: $small;
    line-height: 30px;
    color: $white;

    @include tablet {
      font-size: $big;
      line-height: 58px;
    }

    &--footer {
      font-family: inherit;
      font-size: $main;
      line-height: $medium;
      font-weight: inherit;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__subtitle {
    height: 27px;
    margin-bottom: 10px;
    font-family: $font;
    font-weight: $title-weight;
    font-size: 18px;
    line-height: 27px;
    color: inherit;

    @include tablet {
      height: 30px;
      margin-bottom: 30px;
      font-size: $small;
      line-height: 30px;
    }

    &--footer {
      width: max-content;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
